.menu {
  background-color: #eb7a1e;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-logo {
  margin-right: auto;
}

.logo-image {
  width: 60px; 
  height: auto;
}

.menu li {
  display: inline;
}

.menu a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background 0.3s;
}

.menu a:hover {
  background-color: #ffffffb6;
  color: #eb7a1e;
}
